body {
    background-color: #f8f8f8;
    border-color: #e7e7e7;
}

a + p, h2 + p {
    margin-left: 5px;
}

.image{
    display: block;
    width: 280px;
    border-radius: 50%;
    border: 4px solid #AC9A96;
}

.item{
    width: 100%;
    height: 200px;
}

.carousel-box{
    max-width: 70%;
    margin: auto;
}

.carousel-indicators .active {
    width: 35px;
    height: 5px;
    background-color: #fff;
}

.carousel-indicators li {
    width: 35px;
    height: 5px;
    background-color: black;
    border: 0px;
}

.carousel-control.prev {
    left: 0;
}

.carousel-control.next {
    right: 0;
    left: auto;
}

.carousel-control {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 15%;
    color: #fff;
    text-align: center;
    opacity: .5;
}

a > .glyphicon {
    font-size: 1.5em;
}

#header-nav {
    min-height: 250px;
    background-color: mistyrose;
}

#header-con {
    height: 150px;
}

#header-menu {
    position: relative;
}

#collapsable-nav {
    clear: both;
}

#profilePic-con {
    margin: -140px auto 0px;
    display: block;
    width: 280px;
}

#crest {
    margin-top: -160px;
    margin-left: 180px;
}

#mainText {
    margin: 5px 2px;
    border: 4px solid #AC9A96;
    padding: 0px 20px;
    border-radius: 20px;
    font-size: 1.2em;
    background-color: #F2FF72;
}

@media (min-width: 768px) {
    .navButton > a {
        margin: 0px 2.5px;
        text-align: center;
        transition: all .2s;
    }

    .active.navButton > a {
        margin-top: -15px;
        border-radius: 20%;
        border: 2px solid black;
        box-shadow: 0px 3px 3px grey;
        transition: all .2s;
    }

    .navButton > a:hover {
        margin-top: -20px;
        transition: all .2s;
    }
}

@media (max-width: 767px) {
    #header-con {
        margin-left: 7px;
    }
}

@media (max-width: 450px) {
    #header-nav {
        min-height: 200px;
    }

    #header-con > a > h1 {
        font-size: 32px;
    }

    .image  {
        margin: 0 auto;
        width: 200px;
    }

    #crest {
        width: 65px;
        margin-top: -120px;
        margin-left: 170px;
    }
}
